@font-face {
  font-family: als-sirius;
  src: url("assets/fonts/ALS_Sirius_VF_1.3.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: als-sirius;
  color: $light;
}

.mix-blend{
  mix-blend-mode: multiply;
}

.transition-smooth{
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.transform-origin-center{
  transform-origin: 50% 50% 0;
}

.perspective{
  perspective: 6rem;
  perspective-origin: center;

  @include media-breakpoint-down(xl){
    perspective: 3rem !important;
  }
}

.transform-translateY-up{
  transform: translateY(-4rem) !important;
}

.ring-start-position-0{
  transform: translateZ(1vw * 15);
}

.ring-start-position-1{
  transform: translateZ(1vw * 30);
}

.ring-start-position-2{
  transform: translateZ(1vw * 35);
}

.ring-start-position-3{
  transform: translateZ(1vw * 40);
}

.ring-start-position-4{
  transform: translateZ(1vw * 45);
}

.ring-start-position-5{
  transform: translateZ(1vw * 50);
}

.ring-start-position-6{
  transform: translateZ(1vw * 55);
}

.ring-start-position-7{
  transform: translateZ(1vw * 60);
}

.ring-start-position-8{
  transform: translateZ(1vw * 65);
}

.ring-start-position-9{
  transform: translateZ(1vw * 70);
}

.ring-start-position-10{
  transform: translateZ(1vw * 75);
}

.ring-start-position-11{
  transform: translateZ(1vw * 80);
}

.ring-start-position-12{
  transform: translateZ(1vw * 85);
}

.ring-start-position-13{
  transform: translateZ(1vw * 90);
}

.ring-start-position-14{
  transform: translateZ(1vw * 95);
}

.ring-start-position-15{
  transform: translateZ(1vw * 100);
}





.will-change{
  will-change: transform;
}

.place-items-center{
  place-items: center;
}

.background-gradient {
  background-image: linear-gradient(0deg, #00F78B 0%, #6B71FF 100%);
  background-origin: border-box;
  box-shadow: inset 0 1000vw var(--si-body-bg);
}

.background-solid{
  background-image: linear-gradient(0deg, #00F78B 0%, #00F78B 100%);
  background-origin: border-box;
  box-shadow: inset 0 1000vw var(--si-body-bg);
}

.mirror{
  transform: scaleX(-1);
}

.fs-2 {
  @include media-breakpoint-up(sm){
    font-size: 2rem !important;
  }
}

.display-3{
  @include media-breakpoint-up(sm){
    font-size: 3.8rem !important;
  }
}

.display-4{
  @include media-breakpoint-up(sm){
    font-size: 3.5rem !important;
  }
}

.display-6{
  @include media-breakpoint-up(sm){
    font-size: 2.2rem !important;
  }
}

.border-3{
  border-width: 0.12rem !important;
}

.border-ne-3{
  margin-right: -0.12rem;
}

.border-ne-3-double{
  margin-right: -0.24rem;
}

.border-ns-3-double{
  margin-left: -0.24rem;
}

.border-ns-3{
  margin-left: -0.12rem;
}

.border-nt-3{
  margin-top: -0.12rem;
}

.border-ns-2{
  margin-left: -2px;
}

.border-nt-2{
  margin-top: -2px;
}

.border-4{
  border-width: 0.225rem !important;
}

.border-nt-4{
  margin-top: -0.225rem;
}

.swiper-pagination-bullet{
  background-color: #7c7c7c !important;
}

.swiper-pagination-bullet-active{
  background-color: #00F78B !important;
}

ul{
  padding: 0;
  vertical-align: top;
}

.li-desktop{
  list-style: none;
  padding-left: 3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-image: url("assets/images/icons/arrow-right-long.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1.5rem;
}

.li-mobile{
  list-style: none;
  padding-left: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-image: url("assets/images/icons/arrow-right-long.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
}
