.section-top-bar{
  border-color: transparent;
  border-radius: 1.4vw;
}

.section-top-bar-img{
  width: 14vw;
}

.section-top-bar-body{
  background-color: black;
  padding: 1.35vw;
  margin: 0.18vw;
  border-radius: 1.3vw;
}

.section-top-bar-mobile{
  border-color: transparent;
  border-radius: 3.4vw;
}

.section-top-bar-img-mobile{
  width: 32vw;
}

.section-top-bar-body-mobile{
  background-color: black;
  padding: 2.8vw;
  margin: 0.6vw;
  border-radius: 3.1vw;
}
