$width-section: 90vw;

$font-size-section-about-tables-paragraph: $width-section * 0.018;
$font-size-section-about-tables-title: $font-size-section-about-tables-paragraph * 2;

.section-about-tables{
  width: $width-section;
}

.section-about-tables-card-big{
  padding: $font-size-section-about-tables-paragraph * 1.9;
  border-radius: $font-size-section-about-tables-paragraph * 1.5;
  margin-right: $width-section * 0.02;
}

.section-about-tables-paragraph-big{
  font-size: $font-size-section-about-tables-paragraph * 1.16;
  padding-bottom: $font-size-section-about-tables-paragraph * 0.1;
  font-weight: 300;
}


.section-about-tables-card-small{
  border-radius: $font-size-section-about-tables-paragraph * 1.2;
  padding: ($font-size-section-about-tables-paragraph * 0.4) ($font-size-section-about-tables-paragraph * 0.9);
}

.first-card{
  margin-right: $width-section * 0.02;
}

.section-about-tables .badge{
  border-color: #494949 !important;
  font-size: $font-size-section-about-tables-paragraph * 0.8 !important;
  font-weight: 200 !important;
  margin-bottom: $font-size-section-about-tables-paragraph * 0.3 !important;
}

.section-about-tables-paragraph-small{
  font-size: $font-size-section-about-tables-paragraph;
  font-weight: 300;
}

.section-about-tables-title-small{
  color: #6B71FF;
  font-size: $font-size-section-about-tables-title;
  font-weight: 700;
}
